<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.NCSMapper">
    <insert id="insertNCSInfo">
    insert into ncs_subjects ( 
        ns_code, ns_name, ns_level, ns_def, ns_l_class, ns_m_class, ns_s_class, ns_d_class
    )
    value(
        #{ns_code}, #{ns_name}, #{ns_level}, #{ns_def}, #{ns_l_class}, #{ns_m_class}, #{ns_s_class}, #{ns_d_class}
    )
    </insert>
</mapper>